.modal-custom-width .modal-dialog {
    width: 30%;
    max-width: 30%; /* Définissez la largeur souhaitée ici */
    margin: 1.75rem auto; /* Pour centrer le modal horizontalement */
}

#navbarNav{
    justify-content: space-between;
}

.infoMembre{
    margin-right: 1%;
}

.avatar{
    margin-right: 10px;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.row{
    justify-content: space-between;
}

.photoArticle{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#contenu {
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
#contenu > div {
    width: auto; 
    margin: 10px; 
    text-align: center;
}

#contenuAdmin{
    padding: 2% 10% 2% 10%;
}