.modal-custom-width .modal-dialog {
    width: 30%;
    max-width: 30%;
    margin: 1.75rem auto;
}

#navbarNav{
    justify-content: space-between;
}

.infoMembre{
    margin-right: 1%;
}

.avatar{
    margin-right: 10px;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.row{
    justify-content: space-between;
}

.photoArticle{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}

#contenuIndex, #contenuMembre {
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
#contenuIndex > div, #contenuMembre > div {
    width:100%; 
    margin: 5px; 
    text-align:left;
    align-items: center;
}

#contenuAdmin{
    padding: 2% 10% 2% 10%;
}

.divPhotoArticle{
    display: flex;
}

.card-img-top{
    width:fit-content;
    height: auto;
    max-height: 200px;
    margin-top: 10px;
}

.navbar{
    align-items: center;
    justify-content: center;
    padding: 1% 10% 1% 10%;
}

.barrePanier{
    display: flex;
    align-items:center;
    justify-content:end;
    padding: 0% 10% 0% 10%;
    height: 40px;
    background-color: rgb(198, 210, 198);
}

/* Page Index */

#banniere{
    width:100%;
    height: auto;
    margin-top: 10px;
}

#banniere > img{
    width:100%;
    height: auto;
}

#carrouselIndex, #produitsIndex{
    display: flex;
    justify-content: space-between;
}

#carrouselIndex{
    margin: 1% 10% 1% 10%;
}

.card_perso{
    margin: 1px;
    align-items: center;
    justify-content: center;
}

.boutonCarrousel{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.flecheCarrousel{
    height: 40px;
    width: auto;
}